body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 58);
    font-family: 'Courier New', Courier, monospace;
}
.testimonial-container{
    padding:50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px -8px 0 rgba(0, 0, 0, 0.3);
    max-width: 50%;
    text-align: center;
    min-width: 400px;
    position: relative;
    width: 30%;
}
.testimonial-container img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    transform: translate(-50% ,-100%)
}
.text{
    text-align: center;
    font-size: 16px;
}
    /* Dots */
.dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 8px;
}
.dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background: #333;
}


